/* top right bottom left */

.controller {
  padding: 14px 20px 14px 20px;
  margin: 10px;
  margin-left: 25px;
  border: 1px solid rgba(204, 204, 204, .8);
  border-radius: 15px;
  font-size: 20px;
}

.add {
  background: #c9f29b;
  color:#191919;
  font-weight: bold;
}

.remove {
  background: #ff9478;
  color: #191919;
  font-weight: bold;
}

.llmbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid #ccc;
  border-radius: 15px;
  margin-top: 25px;
  margin-left: 25px;
  padding: 20px
}

form {
  display: flex;
  flex-direction: column;
}

#prev, textarea, input[type="submit"], input[name="apikey"] {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  padding: 10px 15px 10px 15px;
}

textarea {
  width: 93%;
  resize: vertical;
}

input[name="apikey"] {
  width: 50%;
}

#prev, input[type="submit"] {
  width: 50%;
  margin-top: 10px;
}

input[type="submit"] {
  background: #FFA500;
  color: #191919;
  font-weight: bold;
  text-transform: uppercase;
}

.llmbox:last-child {
  margin-bottom: 225px;
}

.res {
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  padding: 10px 15px 10px 15px;
}

.api_key, .controller-container {
  margin: 25px;
  margin-left: 30%;
}

@media screen and (max-width: 4000px) {
  .llmbox {
    width: 50%;
    margin: 0 auto;
  }

  input[name="apikey"] {
    width: 50%;
    text-align: center;
  }

  #prev, input[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .llmbox {
    width: calc(100vw - 100px);
    margin-left: 25px;
  }

  .api_key {
    margin: 25px;
  }

  .controller-container {
    margin: 0;
    margin-bottom: 25px;
  }

  input[name="apikey"] {
    width: calc(100vw - 100px);
  }

  .controller {
    font-size: 16px;
  }

  #prev, input[type="submit"] {
    width: 100%;
  }
}

